.body-dialog{
  display: flex;
  align-items: flex-end;

  i{
    margin-left: 30px;
    padding: 5px;
    background: #FBE6E9;
    border-radius: 50%;
    cursor: pointer;
    color: red;
  }
  i:hover{
    background: #FB5E68;
  }
}
